.git
.gitignore
target
**/target
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
**/.idea
**/.vscode
deploy/helm/authguard/charts
use-cases/**/node_modules
use-cases/customer-growth-job-service/e2e/config
use-cases/customer-growth-job-service/e2e/helm
use-cases/customer-growth-job-service/e2e/reports
